:root {
--white: #F5F5F5;
--light: #ade0b8;
--tan: #C3A1A0;
--pink: #D9AAB7;
--rose: 76, 181, 111;
--dark: #4E4E4E;
}

body {
   background: var(--light) !important;
 }

.card {
   background: var(--white) !important;
   box-shadow: 5px 5px 15px rgba(var(--rose), .5);
   border-radius: 10px;
}

.container-show {
   background: var(--white) !important;
   box-shadow: 5px 5px 15px rgba(var(--rose), .5);
   border-radius: 10px;
}

.center-column-home {
	background: var(--white) !important;
	box-shadow: 5px 5px 15px rgba(var(--rose), .5);
	border-radius: 10px;
}

.col-sm {   
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   background-color: rgba(86,61,124,.15);
   border: 1px solid rgba(86,61,124,.2);
 }

 .row{
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
 }

.btn-primary {
   background: #66cc99;
}

.navbar-brand:hover {
  filter: brightness(70%);
}


/* Efeito do pesquisar */
input {
	outline: none;
}
input[id=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[id=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 150px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
input[id=search]:focus {
	width: 300px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

@media screen and (max-width: 575px) {
    input[id=search]:focus {
      width: 150px;
    }
}