    .col-sm {   
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
 }

 .row{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
 }

 body {
    background-color: #c7d0db !important;
 }

 .jumbotron {
   background-color: #fff;
 }